
<div *ngIf="auth.user$ | async as user">
    <div *ngIf="user.admin == true">

<app-b1-admin></app-b1-admin>
<app-b2-admin></app-b2-admin>




<div class="container">
        <div class="row">
            <div class="col-12 cadm">
                <div class="row">
                    <h3 style="display: block; margin: 0 auto; text-align: center;">Control Administradores</h3>
                </div>
                <div class="row" style="display: block; margin: auto; text-align: center; padding-left: 20%">
                    
                    <div class="table responsive">
                        <div class="table table-hover">
                            <thead>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Administrador</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.displayName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.admin}}</td>
                                <td><button type="button" class="btn btn-outline-secondary" Style="margin-left: 50px; color: black; "(click)="CambiarAdmin(user)">Cambiar</button></td>
                                </tr>
                            </tbody>
                        </div>
                    </div>
                </div>


            </div>
        </div>

<div class="row">
            <div class="col-12 cusuarios">
                <div class="row">
                    <h3 style="display: block; margin: 0 auto; text-align: center;">Control Usuarios</h3> 
                </div>
                <div class="row" style="display: block; margin: 0; text-align: center; padding-left: 20%">
                    <div class="table responsive" >
                        <div class="table table-hover">
                            <thead>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Estado del Usuario</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                <td>{{user.displayName}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.habilitacion}}</td>
                                <td><button type="button" class="btn btn-outline-secondary" Style="margin-left: 50px; color: black;"(click)="CambiarHab(user)">Cambiar</button></td>
                                </tr>
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
</div>



<app-footer></app-footer>
</div>
</div>