<div class="cuadro">
	<div class="" >
		
        <div class=" ">

            <div class="lista">
                <a href="#" class=" boton"><button type="button" class="btn btn-danger">X</button></a>
                <a href="#" class=""> <img class="imagen" src="../assets/imagenes/mandarina-m.png" width="200" height="200"></a>
                
                <a href="#" class="elemento precio ">100 BsS c/u</a>
                          
                 <input type="text" class="elemento incrementar">
                <a href="#" class="elemento">Subtotal:</a>
                <a href="#" class="elemento ">100 BsS</a>   
                <br>
                <a href="#" class=" ">Mandarina de paquete</a>
                <hr>
                <span>Condiciones de la entrega</span>
            </div>
        </div>
        

	</div>
</div>
<div class="cuadro">
    <div class="" >
      
          <div class=" ">
  
              <div class="lista">
                  <a href="#" class=" boton"><button type="button" class="btn btn-danger">X</button></a>
                  <a href="#" class=""> <img class="imagen" src="../assets/imagenes/mandarina-m.png" width="200" height="200"></a>
                  <a href="#" class="elemento precio ">100 BsS c/u</a>
                            
                   <input type="text" class="elemento incrementar">
                  <a href="#" class="elemento">Subtotal:</a>
                  <a href="#" class="elemento ">100 BsS</a>   
                  <br>
                  <a href="#" class=" ">Mandarina de paquete</a>
                  <hr>
                  <span>Condiciones de la entrega</span>
              </div>
          </div>
          
  
    </div>
  </div>
  <div class="cuadro">
      <div class="" >
        
            <div class=" ">
    
                <div class="lista">
                    <a href="#" class=" boton"><button type="button" class="btn btn-danger">X</button></a>
                    <a href="#" class=""> <img class="imagen" src="../assets/imagenes/mandarina-m.png" width="200" height="200"></a>
                    <a href="#" class="elemento precio ">100 BsS c/u</a>
                              
                     <input type="text" class="elemento incrementar">
                    <a href="#" class="elemento">Subtotal:</a>
                    <a href="#" class="elemento ">100 BsS</a>   
                    <br>
                    <a href="#" class=" ">Mandarina de paquete</a>
                    <hr>
                    <span>Condiciones de la entrega</span>
                </div>
            </div>
            
    
      </div>
    </div>