<div *ngIf="auth.user$ | async as user">
<div class="cuadro">
	<div class="" >
		
        <div class=" ">

            <div *ngFor="let producto of productos" class="lista" style="max-height:300px" >
                <div class="row" style="padding-left:2%">
                    <a href="#" class="elemento precio ">{{producto.Nombre}}</a>
                <a class=" boton" ><button type="button" class="btn btn-danger" (click)="deleteCar($event,producto.id)">X</button></a>
            </div>
                <a [routerLink]="['/productos/producto',producto.id]" class=""> <img class="imagen" src="{{producto.foto}}" height="150" style="float:left"></a>
                
                   <div style="float:right">      
                <input type="text" class="elemento incrementar" #name [(ngModel)]="values.a" contenteditable="true">
                <a  class="elemento">Subtotal:</a>
                <a  class="elemento ">{{(producto.Costo -(producto.Costo*producto.descuento/100))*name.value}}</a>  
            </div>  
                <br>
                <hr>
                <span>Condiciones de la entrega</span>
            </div>
        </div>

	</div>
</div>
</div>