<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="BarraNav" id="BarraNave">
  
  <a routerLink="/ajustes">
    <i class="fa fa-gear" style="font-size:20px"></i>
  </a>
  
  <a routerLink="/carrito">
  <i   class="fa fa-shopping-cart" style="font-size:20px"></i>
  </a>
  <a routerLink="/listadeseos">
    <i class="fas fa-heart" style="font-size:20px"></i>
    </a>
  <a routerLink="/home">Inicio</a>
  <img src="../assets/imagenes/mandarina-px.png" class="logo" routerLink="/home">
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Buscar.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  

  <a href="javascript:void(0);" class="icon" onclick="menuresponsive()">
    <i class="fa fa-bars"></i>
  </a>
 

</div>

