<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="BarraNav" id="BarraNav">
  
  <a routerLink="/usuario">Usuario</a>
  <a routerLink="/carrito">Carrito</a>
  <a routerLink="/promociones">Promociones</a>
  <a routerLink="/recomendados">Recomendados</a>
  <a routerLink="/productos">Productos</a>
  <a routerLink="" class="seleccionado">Inicio</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>