
<a class="btn btn-primary float-right sticky-top m-1 boton" href="#">Acceder</a>
 

    <ul class=" lista sticky-top  justify-content-center col-md-10 col-lg-10 col-xl-10 ">
  
        <li>
            <a class="float-left sticky-top lead font-italic Italica m-2 nav-link elemento "  ><img src="../assets/imagenes/mandarina2-px.png" class="float-left m-1"> </a>
    
           </li>
      <li>
        
        <input type="text" class="form-control" placeholder="Buscar">
       </li>
        <li>
         <button type="submit" class="btn  naranja">Buscar</button>
        </li>
        
    
        <li class=" nav-item color">
          <a class="nav-link elemento " href="#">Inicio </a>
        </li>
        <li class="nav-item color">
          <a class="nav-link elemento" routerLink="/promociones">Promociones</a>
        </li>
        <li class="nav-item color ">
          <a class="nav-link elemento" href="#">Favoritos</a>
        </li>

        <li class="nav-item">
    
          <a class="nav-link elemento"  href="#"> Add<img src="../assets/imagenes/carrito.png"></a> 
            
          </li>

          <li class="nav-item color ">
            <a class="nav-link elemento" href="#"> Ajustes </a>
          </li>

          
        
      </ul>       

           






