
<div *ngIf="auth.user$ | async as user">
<div *ngIf="user.admin == true">
<app-b1-admin></app-b1-admin>
<app-b2-admin></app-b2-admin>



  <div class="container">
      <div class="row">
          <div class="col-12 container-bg">
            <div class="container">
              <div class="card">
                <div class="card-header">Modo Piloto</div>
                <div class="card-body">La activacion del modo piloto, realizará .....</div> 
                <div class="card-footer">
                  
            <label class="switch">
            <input type="checkbox">
            <div>
            <button type="button" class="btn btn-success" (click)="CambiarPiloto()">Activar</button>
           <button type="button" class="btn btn-danger" (click)="CambiarPiloto2()">Desactivar</button>
          </div>
            </label>
                </div>
              </div>
              </div>
          </div>
          
      </div>
      

  </div>
  

  <app-footer></app-footer>

  
  
</div>
</div>