<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<div id="Contenedor">
  <div class="icono">
    <img class="imagen" src="../assets/imagenes/mandarina-m.png" alt="">
                
              </div>
<div class="ContentForm">
    <form name="FormEntrar" (ngSubmit)="buscar()">
      <div class="input-group input-group-lg">
       <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
       <input type="email" [(ngModel)]="correo" class="form-control" name="correo" placeholder="Correo" id="Correo" aria-describedby="sizing-addon1" required>
     </div>
     <br>
     <div class="input-group input-group-lg">
       <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
       <input type="password" [(ngModel)]="contra"  name="contra" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
     </div>
     <br>
     <button class="btn btn-lg btn-primary btn-block btn-signin" id="ingresar" type="submit">Entrar</button>
     
     <div class="opcioncontra"><a href="#">Olvidaste tu contraseña?</a></div>
    </form>
  </div>	
  <div class="ContenedorG">
    <div *ngIf="auth.user$ | async; then authenticated else guest">
    </div>
    <!-- User NOT logged in -->
    <ng-template #guest>
    <button (click)="auth.googleSignin()" >
     <a>
           <div class="left">
               <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
           </div>
            Inicia Sesion con Google
       </a>
    </button>
    </ng-template>
    <!-- User logged in -->
    <ng-template #authenticated >
      <div *ngIf="auth.user$ | async as user">
        <button (click)="auth.signOut()">Cerrar Sesion</button>
    </div>
    </ng-template>
    </div>
  </div>


  