<app-navbar></app-navbar>
<app-navbar2></app-navbar2>

  



<div class="contenedor">
   <div class="filtros">
   <p>Precio:</p>
   <p>Asc:</p>
   <p>Desc:</p>
    <hr>
    <p>Alfabético:</p>
   <p>A-Z</p>
   <p>Z-A</p>
   <hr>
   <p>Departamentos:</p>
   <div *ngFor="let categoria of categorias">
         <p routerlink="#">{{categoria.Nombre}}</p>
    </div>
   


   </div>
   <div class="container-fluid"> 
         <div class="row">
         <div *ngFor="let producto of productos " class="card col-3" style="width: 18rem;" >
               <img class="card-img-top row" src="{{producto.foto}}" alt="Card image cap" [routerLink]="['/productos/producto',producto.id]">
               <div class="card-body row">
                  <p class="card-text">{{producto.Nombre}}</p>
                  <p class="card-text">Departamento: {{producto.Departamento}}</p>
                
               </div>
            </div>
            </div>
         </div>

   

</div>




<app-footer></app-footer>