.contenedor{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
}
.productos{
    width: 70%;
    height: 80%;
   
    float: right;
    column-count: 3;
    margin: 2%;
    margin-top: 2%;
    display: flex;
    align-items: stretch;

}
.filtros{
    margin: 2%;
    width: 20%;
    float: left;
    background-color: orange;
}