<table id="tabla" >
 <thead>
   <td>
      <tr class="elemento"  (click)="filterExact2('Departamento','Tecnología')">
      

        
        <div  >
            <div class="icono" >  <i class="fas fa-desktop" ></i></div>
            <span> Tecnología</span> 
          

        
        </div>  
         
      </tr>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-home" ></i></div>
              <span> Hogar y cocina</span> 
          </div>  
           
        </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-tshirt" ></i></div>
              <span> Moda</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-baby-carriage"></i></div>
                <span> Bebés</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-gamepad"></i></div>
              <span> Videojuegos</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-running"></i></div>
                <span> Deportes y fitness</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-ring"></i></div>
              <span> Relojes y joyas</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-smile-beam"></i></div>
                <span> Belleza y estética</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-guitar"></i></div>
              <span> Instrumentos musicales</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-car"></i></div>
                <span> Vehículos</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-book"></i></div>
              <span> Libros </span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-paw"></i></div>
                <span> Mascotas</span> 
            </div>  
             
          </tr>
   </td>
   
 
 </thead>
 

</table>