<table id="tabla">
 <thead>
   <td>
      <tr class="elemento">
      

        
        <div >
            <div class="icono">  <i class="fas fa-desktop" style="font-size:70px"></i></div>
            <span> Tecnología</span> 
          

        
        </div>  
         
      </tr>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-home" style="font-size:70px"></i></div>
              <span> Hogar y cocina</span> 
          </div>  
           
        </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-tshirt" style="font-size:70px"></i></div>
              <span> Moda</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-baby-carriage" style="font-size:70px"></i></div>
                <span> Bebés</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-ambulance" style="font-size:70px"></i></div>
              <span> Texto</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-running" style="font-size:70px"></i></div>
                <span> Deportes y fitness</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-ring" style="font-size:70px"></i></div>
              <span> Relojes y joyas</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-smile-beam" style="font-size:70px"></i></div>
                <span> Belleza y estética</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-guitar" style="font-size:70px"></i></div>
              <span> Instrumentos musicales</span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-car" style="font-size:70px"></i></div>
                <span> Vehículos</span> 
            </div>  
             
          </tr>
   </td>
   <td>
      <tr class="elemento">
          <div >
              <div class="icono"><i class="fas fa-book" style="font-size:70px"></i></div>
              <span> Libros </span> 
          </div>  
           
        </tr>
        <tr class="elemento">
            <div >
                <div class="icono"><i class="fas fa-paw" style="font-size:70px"></i></div>
                <span> Mascotas</span> 
            </div>  
             
          </tr>
   </td>
   
 
 </thead>
 

</table>