<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="BarraNav2" id="BarraNave2">
 
  <div class="expandible">
    <a class="expan" routerLink="/Configuracion">Configuración <i class="fa fa-caret-down" style="font-size:13px"></i></a>
    <div class="contenido-expan">
      <a routerLink="#">Modo Piloto</a>     
      <a routerLink="#">Administración de Usuarios</a>
      <a routerLink="#">Promociones</a>
      <a routerLink="#">Artículos Recomendados</a>
    </div>
  </div>

  <div class="expandible">
    <a class="expan" routerLink="/Edicion">Edición Productos <i class="fa fa-caret-down" style="font-size:13px"></i></a>
    <div class="contenido-expan">
      <a routerLink="#">Create</a>
      <a routerLink="#">Read</a>
      <a routerLink="#">Update</a>
      <a routerLink="#">Delete</a> 
    </div>
  </div>

  <div class="expandible">
    <a class="expan" routerLink="/Edicion">Ventas <i class="fa fa-caret-down" style="font-size:13px"></i></a>
    <div class="contenido-expan">
      <a routerLink="#">Activación Filtros</a>
      <a routerLink="#">Búsqueda por Rangos</a>
    </div>
  </div>

</div>