<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="BarraNav2" id="BarraNave2">
 
  <div class="expandible">
    <a class="expan" routerLink="/Configuracion">Configuración <i class="fa fa-caret-down" style="font-size:13px"></i></a>
    <div class="contenido-expan">
      <a routerLink="/admin">Modo Piloto</a>     
      <a routerLink="/ajustes-usuario">Administración de Usuarios</a>
    </div>
  </div>

  <div class="expandible">
      <a class="expan" routerLink="/views/crudproductos">Edición Productos </a>
      <div class="contenido-expan">
       
       
      </div>
    </div>

  <div class="expandible">
    <a class="expan" routerLink="/ventas">Ventas <i class="fa fa-caret-down" style="font-size:13px"></i></a>
    <div class="contenido-expan">
      <a routerLink="#">Activación Filtros</a>
      <a routerLink="#">Búsqueda por Rangos</a>
    </div>
  </div>

  <a routerLink="/ajustes" style="float:right">
    <i class="fa fa-gear" style="font-size:20px"></i>
  </a>


</div>