
<div *ngIf="auth.user$ | async as user">

    <div *ngIf="user.admin == true">

<app-b1-admin></app-b1-admin>
<app-b2-admin></app-b2-admin>
<h2>Edición de productos </h2>
<div class="ContentForm contenido">
        <form name="FormEntrar" >
         <div class="row">

        
          

          <div class="input-group input-group-lg col-md-4">
            
           <input type="text" [(ngModel)]="articulo.Nombre" name="Nombre" placeholder="Nombre del producto" class="form-control" aria-describedby="sizing-addon1" required>
         </div>
      
         <div class="input-group input-group-lg col-md-4">
             
                <input type="number" [(ngModel)]="articulo.Cantidad" name="Cantidad" placeholder="Cantidad" class="form-control" aria-describedby="sizing-addon1" required>
          </div>
     
         <div class="input-group input-group-lg col-md-4">
          
                <input type="text" [(ngModel)]="articulo.Departamento" name="Departamento" placeholder="Departamento" class="form-control" aria-describedby="sizing-addon1" required>
              </div>
      
        

       
         <div class="input-group input-group-lg col-md-4">
               
                <input type="number" [(ngModel)]="articulo.Costo" name="Costo" placeholder="Costo" class="form-control" aria-describedby="sizing-addon1" required>
              </div>
         <br>
         <div class="input-group input-group-lg col-md-4">
                
                <input type="text" [(ngModel)]="articulo.descuento" name="descuento" placeholder="Descuento" class="form-control" aria-describedby="sizing-addon1" required>
              </div>
     
         <div class="input-group input-group-lg col-md-4">
              
                <input type="text" [(ngModel)]="articulo.especificaciones" name="especificaciones" placeholder="Especificaciones" class="form-control" aria-describedby="sizing-addon1" required>
              </div>
              <div class="input-group input-group-lg col-md-4">
             
                  <input type="text" [(ngModel)]="articulo.Descripcion" name="Descripcion" placeholder="Descripcion" class="form-control" aria-describedby="sizing-addon1" required>
                </div>
       
       
        </div>
    
        <div class="row">
       
         <div class="input-group input-group-lg col-md-2">
               
                <input type="text" [(ngModel)]="articulo.foto" name="foto" placeholder="Foto 1:"  class="form-control" aria-describedby="sizing-addon1" required>
              </div>
      
         <div class="input-group input-group-lg col-md-2">
               
                <input type="text" [(ngModel)]="articulo.foto1" name="foto1"  placeholder="Foto 2" class="form-control" aria-describedby="sizing-addon1" required>
              </div>
         
         <div class="input-group input-group-lg col-md-2">
               
                <input type="text" [(ngModel)]="articulo.foto2" name="foto2"  placeholder="Foto 3" class="form-control" aria-describedby="sizing-addon1" required>
              </div>
       
         <div class="input-group input-group-lg col-md-2">
               
                <input type="text" [(ngModel)]="articulo.foto3" name="foto3" placeholder="Foto 4" class="form-control" aria-describedby="sizing-addon1" required>
              </div>
      
         <div class="input-group input-group-lg col-md-2">
             
                <input type="text" [(ngModel)]="articulo.foto4" name="foto4" placeholder="Foto 5" class="form-control" aria-describedby="sizing-addon1" required>
              </div>
        
        </div>
      
         
         
         <button class="btn btn-md btn-primary btn-block btn-signin" type="submit" (click)="actualizarProductos()"> Actualizar</button>
         
         
        </form>
      </div>



<app-footer></app-footer>

</div>
<div *ngIf="user.admin == false">
    <div id="Contenedor2">
        <div class="icono">
          <img class="imagen" src="../assets/imagenes/mandarina-m.png" alt="">
           </div>
      <div class="ContentForm">
        <form name="FormEntrar">
            <div id="alerta">
              Usted no tiene permisos de administrador
            </div>
            <div id="alerta">
                Solo los usuarios con permisos de administrador podran visulalizar esta página.
              </div>
              
         <a class="btn btn-lg btn-primary btn-block btn-signin" id="ingresar" href="/home">Inicio</a>
          </form>
        </div>	
    </div>
  </div>
</div>