<div *ngIf="auth.user$ | async as User">
 
<div class="pago">
  <h3>Detalles FACTURACIÓN:</h3>
  <br>
  <h4> Empresa: </h4>
  <span> Mandarina C.A. - Ecommerce UNIMET - J-000000 </span>
  <br>
  <h4> Cliente: </h4>
  <span> {{User.displayName}} </span>
  <br>
  <br>
  <label for="address">Dirección envío mercancía</label>
  <input [(ngModel)]="direccion" type="text" name="direccion" class="form-control" />
  <br>
  <hr>
  <span>Total a Pagar</span>
  <span> ${{precio}} </span>
  <br>
  <br>
      <div id="paypal-checkout-btn"></div>
</div>
</div>