<div *ngIf="auth.user$ | async as user">
    <div *ngIf="user.habilitacion == true">
<app-navbar></app-navbar>
  <app-navbar2></app-navbar2>

          
  <div class="row">
      <div class="col-sm-6">
      <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1"><img src="{{detalle.foto}}" /></div>
          <div class="tab-pane" id="pic-2"><img src="{{detalle.foto1}}" /></div>
          <div class="tab-pane" id="pic-3"><img src="{{detalle.foto2}}" /></div>
          <div class="tab-pane" id="pic-4"><img src="{{detalle.foto3}}" /></div>
          <div class="tab-pane" id="pic-5"><img src="{{detalle.foto4}}" /></div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{detalle.foto}}" /></a></li>
          <li><a data-target="#pic-2" data-toggle="tab"><img src="{{detalle.foto1}}" /></a></li>
          <li><a data-target="#pic-3" data-toggle="tab"><img src="{{detalle.foto2}}" /></a></li>
          <li><a data-target="#pic-4" data-toggle="tab"><img src="{{detalle.foto3}}" /></a></li>
          <li><a data-target="#pic-5" data-toggle="tab"><img src="{{detalle.foto4}}" /></a></li>
        </ul>
      </div>

<div class="col-sm-6">
 <div class="Nombre">
  {{detalle.Nombre}}
 


 </div>

<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<hr>
<div class="Precio">
   
  {{detalle.Costo}}

     </div>
     
      <hr>
<div>
  <input [(ngModel)] ="cantidad" #ctrl="ngModel" type="text" name="inputCantidad" id="idCantidad" style="width:157px;">
  </div>
  <div *ngIf="auth.user$ | async as user">
    <br>
     <button class="btn" type="submit" (click)="addCar(detalle,detalle.id)">Añadir al Carrito <i class="fa fa-shopping-cart" style="font-size:20px"></i></button>
    <a style="padding-left: 10px;" >
      
     <button class="btn" type="submit" (click)="addFav(user.email,detalle.id)"><i class="fas fa-heart" style="font-size:20px" ></i></button>
    </a>
    </div>
  <div>
    <br><br><br><br><br>
  </div>
  </div>
  </div>
<hr>
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-left:5%">
    <li class="nav-item">
      <a class="nav-link active" id="desc-tab" data-toggle="tab" href="#desc" role="tab" aria-controls="desc" aria-selected="true">Descripción</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="com-tab" data-toggle="tab" href="#com" role="tab" aria-controls="com" aria-selected="false">Comentarios</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab">
      <div>
        <p>
          
         
      
          Producto:  {{detalle.Descripcion}}
        
          <br>______________________________________________________________________________<br>
          ESPECIFICACIONES: 
          <br>
          {{detalle.especificaciones}}
          <br>
         
         
        </p>
      </div>
    </div>
    <div class="tab-pane fade" id="com" role="tabpanel" aria-labelledby="com-tab">
        <div *ngFor="let producto of comentario ">
          {{producto.CorreoComentario}}
          
        </div>
      <div class="container">
        <div class="row pb-3">
          <div class="col-lf-12">
              <h5>Comentarios y Calificaciones de {{detalle.Nombre}}</h5>
          </div>
        </div>
         <div class="one-review">
        <div class="row">
           <div class="col-lf-6">
             <p>Ignacio Rodriguez</p>
           </div>
           <div class="col-md-6 text-success">
              <small>10 Febrero</small>
           </div>
         </div>
         <div class="row">
            <div class="col-lf-12">
               <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
             </div>
          </div>
          <div class="row pt-2">
             <div class="col-lf-12">
               <h6 style="float:left">Buena Calidad</h6><br>
               <p style="float:left">Me gusto El prod..... Posee un envio rapido,..... volveria a comprar este producto, pero vino una pieza rota.</p>
              </div>
              </div>  
            </div>       
         <hr>
         <div class="one-review ">
        <div class="row">
          <div class="col-lf-6">
            <p>Bladimir Aponte</p>
              </div>
               <div class="col-md-6 text-success">
                <small>3 Enero</small>
                 </div>
            </div>
          <div class="row">
              <div class="col-lf-12">
           <i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i><i class="fa fa-star checked"></i>
          </div>
           </div>
          <div class="row pt-2">
           <div class="col-lf-12">
           <h6 style="float:left">La mejor computadora</h6><br>
          <p style="float:left">Comprate ya la computadora es la mejor que encontraras......... no me arrepiento........ muy buena</p>
              </div>
          </div>
          </div>
         <hr>
         <div class="one-review">
        <div class="row">
           <div class="col-lf-6">
            <p>Mary Beltrán</p>
             </div>
            <div class="col-md-6 text-success">
            <small>30 Diciembre</small>
        </div>
      </div>
          <div class="row">
        <div class="col-lf-12">
        <i class="fa fa-star checked"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
        </div>
       <div class="row pt-2">
       <div class="col-lf-12">
      <h6 style="float:left">La peor computadora que existe</h6><br>
      <p style="float:left">Me parece que fui estafada....... no volveria a comprar nada de esta marca........ al dia se daño..........</p>
        </div>
       </div>
      </div>
     </div>
    </div> 
  </div>
  <app-footer></app-footer>
</div>
  <div *ngIf="user.habilitacion == false">
      <div id="Contenedor2">
          <div class="icono">
            <img class="imagen" src="../assets/imagenes/mandarina-m.png" alt="">
             </div>
        <div class="ContentForm">
          <form name="FormEntrar">
              <div id="alerta">
                Usted se encuentra desabilitado y no puede ver nuestra pagina
              </div>
                
           <a class="btn btn-lg btn-primary btn-block btn-signin" id="ingresar" href="/login" (click)="auth.signOut()">Area de Inicio de Sesión</a>
            </form>
          </div>	
      </div>
    </div>
    </div>