<app-navbar></app-navbar>
  <app-navbar2></app-navbar2>

  <div class="row">
  <div class="col-sm-6">
  <div  class="grande">
      <img class="card-img-top" src="../assets/imagenes/computadora1.jpg" alt="">
    </div>
  <div class="minis">
    <div  class="mini">
        <img class="card-img-top" src="../assets/imagenes/computadora1.jpg" alt="">
      </div>
      <div  class="mini">
          <img class="card-img-top" src="../assets/imagenes/computadora2.jpg" alt="">
        </div>
        <div  class="mini">
            <img class="card-img-top" src="../assets/imagenes/computadora1.jpg" alt="">
          </div>
</div>


  </div>
<div class="col-sm-6">
 <div class="Nombre">
nombre prod
 </div>
 
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<hr>
<div class="Precio">
    Precio VEF
     </div>
     <div class="dropdown">
        <button class="dropbtn">Tipos <i class="fa fa-caret-down" style="font-size:13px"></i></button>
        <div class="dropdown-content">
          <a>8GB RAM</a>
          <a>16GB RAM</a>
        </div>
      </div>
      <hr>
<div>
  <input type="text" onfocus="this.value=''" value="1" style="width:157px;">
  </div>
  <div>
      <button class="btn">Añadir al Carrito <i class="fa fa-shopping-cart" style="font-size:20px"></i></button>
  </div>
  </div>
  </div>