<app-navbar></app-navbar>
  <app-navbar2></app-navbar2>

  <div class="row">
  <div class="col-sm-6">
  <div  class="grande">
      <img class="card-img-top" src="../assets/imagenes/computadora1.jpg" alt="">
    </div>
  <div class="minis">
    <div  class="mini">
        <img class="card-img-top" src="../assets/imagenes/computadora1.jpg" alt="">
      </div>
      <div  class="mini">
          <img class="card-img-top" src="../assets/imagenes/computadora2.jpg" alt="">
        </div>
        <div  class="mini">
            <img class="card-img-top" src="../assets/imagenes/computadora1.jpg" alt="">
          </div>
</div>


  </div>
<div class="col-sm-6">
 <div class="Nombre">
nombre prod
 </div>
 
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<hr>
<div class="Precio">
    Precio VEF
     </div>
     <div class="dropdown">
        <button class="dropbtn">Tipos <i class="fa fa-caret-down" style="font-size:13px"></i></button>
        <div class="dropdown-content">
          <a>8GB RAM</a>
          <a>16GB RAM</a>
        </div>
      </div>
      <hr>
<div>
  <input type="text" onfocus="this.value=''" value="1" style="width:157px;">
  </div>
  <div>
      <button class="btn">Añadir al Carrito <i class="fa fa-shopping-cart" style="font-size:20px"></i></button>
  </div>
  </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="RE-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>