.Nombre{
    padding: 15px 0px 15px 0px;
    font-size: 25px;
    
}
.Precio{
    padding: 0px 0px 15px 0px;
    font-size: 20px;
}
.checked {
    color: orange;
  }

  .btn {
    background-color: #f47820;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    
  }
  .btn:hover{
      color: #9fbc31;
  }



  .dropbtn {
    background-color: #f47820;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #f47820;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f47820;
  }


  .img {
    max-width: 100%;
  }
  
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 0;
      margin-left: 1% }
      .preview-thumbnail.nav-tabs li img {
        opacity: 0.8;
        max-width: 100%;
        display: block; }
        .preview-thumbnail.nav-tabs li img:hover {
          opacity: 1;
        }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      padding: 10px 0px 10px 0px;
      width: 50%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
   
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.8);
              transform: scale(0.8); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.8);
              transform: scale(0.8); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
              .opciones{
                float:left;
                padding-left: 5%;
                padding-top: 12px;
            }
            
            .entradas{
                float:left;
                padding-left: 5%;
                width: 80%;
            }
            input[type=text], select, textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 16px;
                resize: vertical;
              }
              input[type=text], input[type=password] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 16px;
                resize: vertical;
              }
            
              .boton {
                background-color: #f47820;
                border: none;
                color: white;
                padding: 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 12px;
              }
              
              .boton:hover {
                color: black;
              }
            
              .container-bg{
                background-color: rgb(255, 254, 254);
                  border: 1px solid #f47820 ;
                  margin-top: 80px;
                  width: 100%;
                  height: 210px;
                  padding: 1vh;
                  box-shadow: 0px 0px 20px black;
                  border-radius: 8px;
                  margin-left:0%;
                  margin-bottom: 80px;
              }
              
              
              .container-bg2{
                background-color: rgb(255, 254, 254);
                  border: 1px solid #f47820 ;
                  margin-top: 80px;
                  width: 100%;
                  height: 200px;
                  padding: 1vh;
                  box-shadow: 0px 0px 20px black;
                  border-radius: 8px;
                  margin-left:26%;
                  margin-bottom: 80px;
              }
              
              
              .switch {
                  width: 100%;
                  height: 34px;
                }
                .switch button{
                  margin-left: 10px;
                }
                
                .switch input { 
                  opacity: 0;
                  width: 0;
                  height: 0;
                }
                
                .slider {
                  position: absolute;
                  cursor: pointer;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: #ccc;
                  -webkit-transition: .4s;
                  transition: .4s;
                }
                
                .slider:before {
                  position: absolute;
                  content: "";
                  height: 26px;
                  width: 26px;
                  left: 4px;
                  bottom: 4px;
                  background-color: white;
                  -webkit-transition: .4s;
                  transition: .4s;
                }
                
                input:checked + .slider {
                  background-color: #f47820;
                }
                
                input:focus + .slider {
                  box-shadow: 0 0 1px #f47820;
                }
                
                input:checked + .slider:before {
                  -webkit-transform: translateX(26px);
                  -ms-transform: translateX(26px);
                  transform: translateX(26px);
                }
                
                .slider.round {
                  border-radius: 34px;
                }
                
                .slider.round:before {
                  border-radius: 50%;
                }
              
                #Contenedor{
                  width: 400px;
                  margin: 50px auto;
                  background-color: rgb(255, 254, 254);
                        border: 1px solid #f47820 ;
                  height: 620px;
                  border-radius:8px;
                    padding: 0px 9px 0px 9px;
                }
                #Contenedor2{
                  width: 400px;
                  margin: 50px auto;
                  background-color: rgb(255, 254, 254);
                    border: 1px solid #f47820 ;
                  height: 450px;
                  border-radius:8px;
                    padding: 0px 9px 0px 9px;
                }
                
                .ContenedorG{
                    padding-top: 10px;
                }
                #alerta{
                    padding-bottom: 10px;
                }
                .ContenedorG button{
                    width: 100%;
                    height: 40px;
                    background-color: white;
                    border-radius: 5px;
                      border: thin solid #888;
                      box-shadow: 1px 1px 1px grey;
                }
                .ContenedorG button:hover{
                    cursor: pointer;
                }
                 
                .imagen {
                    max-width: 300px;
                    max-height: 300px;
                }
                
                .icono span{
                      background: #A8A6A6;
                      padding: 20px;
                      border-radius: 120px;
                }
                
                .icono{
                     margin-top: 10px;
                     margin-bottom:10px; 
                     color: #FFF;
                     font-size: 50px;
                     text-align: center;
                }
                
                .opcioncontra{
                  text-align: center;
                  margin-top: 10px;
                  font-size: 14px;
                }
                
                #ingresar{
                    background: #f47820 !important;
                    border-color: #FFF !important;
                }
                 
                
                @media only screen and (max-width:320px){
                #Contenedor{
                  width: 100%;
                  height: auto;
                  margin: 0px;
                }
                }
                 
                
                @media only screen and (max-width:240px){
                  
                }