<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="BarraNav2" id="BarraNave2">
 
  <div class="expandible">
    <a class="expan" routerLink="/Departamentos">Departamentos <i class="fa fa-caret-down" style="font-size:13px"></i></a>
    <div class="contenido-expan">
      <a routerLink="#">Tecnología</a>
      <a routerLink="#">Hogar y cocina</a>
      <a routerLink="#">Moda</a>
      <a routerLink="#">Bebés</a> 
      <a routerLink="#">Deporte y Fitness</a>
      <a routerLink="#">Relojes y Joyas</a>
      <a routerLink="#">Belleza y Estética</a>
      <a routerLink="#">Videojuegos</a>      
      <a routerLink="#">Instrumentos Musicales</a> 
      <a routerLink="#">Automotor</a>  
      <a routerLink="#">Libros y Música</a>
      <a routerLink="#">Mascotas</a>
    </div>
  </div>
  
  <a>
  <i class="fa fa-shopping-cart" style="font-size:20px"></i>
  </a>
  <a routerLink="/home">Inicio</a>
<a style="float:right">Bienvenido:</a>



<a href="javascript:void(0);" class="icon" onclick="menuresponsive()">
  <i class="fa fa-bars"></i>
</a>
</div>

