<app-navbar></app-navbar>
<app-navbar2></app-navbar2>

<div class="columna">

    <app-recomendado></app-recomendado>
  
  </div>
  <p class="float-center">Recomendados</p>
  <div class="columna">
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
  </div>