

#banner{
  width: 100%;
  height: auto;

  background-color: rgba(218, 214, 214, 0.589);
}
#imagen{
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-width: 500px;

}
#tabla{
  text-align: center;
    
    align-items: center;
  display: flex;
  justify-content: center;
  max-width: 80%;
  max-height: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
#promociones{
 
  margin: 5%;
}

