

<div class="columna">

    <app-recomendado></app-recomendado>
  
  </div>
  <p class="float-center">Recomendados</p>
  <div class="columna">
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
    <app-listaproductos></app-listaproductos>
  </div>