

<div class="columna">

    <app-promociones></app-promociones>
    <app-promociones></app-promociones>
    <app-promociones></app-promociones>
    <app-promociones></app-promociones>
  
  </div>
  <p class="float-center">Recomendados</p>
  <div class="columna">
    <app-productos></app-productos>
    <app-productos></app-productos>
    <app-productos></app-productos>
    <app-productos></app-productos>
    <app-productos></app-productos>
    <app-productos></app-productos>
    <app-productos></app-productos>
    <app-productos></app-productos>
  </div>