<app-navbar></app-navbar>
<app-navbar2></app-navbar2>

  
<div class="col-sm-12" >
    <br>
      <h2>
    Ajustes de Usuario
    </h2>
    <hr>
    <br>
  <div class="linea">
<h4 class="opciones">
  Nombre
</h4>

  <div class="entradas">
<input type="text" value="Nombre de La persona">
<!-- <input type="text" onfocus="this.value=''" value="Nombre de La persona"> -->
</div>
</div>
<br>
<br>
<div class="linea">
    <h4 class="opciones">
      Correo
    </h4>
    
      <div class="entradas">
    <input type="text" value="Correo de La persona">
    <!-- <input type="text" onfocus="this.value=''" value="Nombre de La persona"> -->
    </div>
    </div>
<br>

</div>
<app-footer></app-footer>



